<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/base.css">
</head>
<!-- saved.png wireframe -->
<body>
    <div class="container">
    <%- include('./layout/navbar') %>
    <h1>Homepage</h1>
        <h2>search</h2>
        <h2>Saved</h2>
        <p>
            <%= book_table.length %>
        </p>
            <ul>
                <% book_table.forEach(book => { %>
                <li>
                    <img src='<%= book.coverArt %>'>
                    <h3><%= book.title %></h3>
                    <h4><%= book.author %></h4>
                    <h5><%= book.description %></h5>
                </li>
                <% })%>
            </ul>
    <%- include('./layout/footer') %>
    </div>
</body>
</html>